---
---

@import "{{ site.theme }}";

.page-header {
	background: none !important;
    color: #000 !important;
    border-top: 10px solid #399f62 !important;
    background-image:none !important;
}

.logo {
    position: absolute;
    left: 15px;
    width: 80px;
}

.btn {
    color: #fff !important;
    background-color: #399f62 !important;
    border-color: none !important;
    border-width: 0 !important;
    border-radius: 0 !important;
}

a {
    color: #268bd2 !important;
}

.main-content pre {
	background: #fff !important;
	border: none !important;
}

footer {
	display: none !important;
}

@media screen and (min-width: 64em) {
	.page-header {
	    padding: 1rem 6rem !important;
	}
}

.highlight .hll { background-color: #ffffcc !important}
.highlight .c { color: #008000 !important}
.highlight .err { border: 0 !important; background: none !important}
.highlight .k { color: #0000ff !important}
.highlight .cm { color: #008000 !important}
.highlight .cp { color: #0000ff !important}
.highlight .c1 { color: #008000 !important}
.highlight .cs { color: #008000 !important}
.highlight .kc { color: #0000ff !important}
.highlight .kd { color: #0000ff !important}
.highlight .kn { color: #0000ff !important}
.highlight .kp { color: #0000ff !important}
.highlight .kr { color: #0000ff !important}
.highlight .kt { color: #2b91af !important}
.highlight .s { color: #a31515 !important}
.highlight .nc { color: #2b91af !important}
.highlight .ow { color: #0000ff !important}
.highlight .sb { color: #a31515 !important}
.highlight .sc { color: #a31515 !important}
.highlight .sd { color: #a31515 !important}
.highlight .s2 { color: #a31515 !important}
.highlight .se { color: #a31515 !important}
.highlight .sh { color: #a31515 !important}
.highlight .si { color: #a31515 !important}
.highlight .sx { color: #a31515 !important}
.highlight .sr { color: #a31515 !important}
.highlight .s1 { color: #a31515 !important}
.highlight .ss { color: #a31515 !important}
