---
---

@import "{{ site.theme }}";

.btn {
    color: #fff !important;
    background-color: #399f62 !important;
    border-color: none !important;
    border-width: 0 !important;
    border-radius: 0 !important;
}

.page-header {
	background: none !important;
    color: #000 !important;
    border-top: 10px solid #399f62 !important;
    background-image:none !important;
}

a {
    color: #268bd2 !important;
}

@media screen and (min-width: 64em) {
	.page-header {
	    padding: 1rem 6rem !important;
	}
}
